{% overextends "blog/blog_post_detail.html" %}

{% block blog_post_detail_content %}
    {{ block.super }}

    {% if blog_post.source_url %}
        <p class="text-muted">
            По материалам <a href="{{ blog_post.source_url }}">{{ blog_post.source_url }}</a>
        </p>
    {% endif %}
{% endblock %}
